h1.contactTitle {
  font-size: 42px;
  letter-spacing: 6px;
}
#form {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.contactData {
  position: fixed;
  top: 50px;
  right: 50px;
}
p.contactData {
}
