form {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 300px;
  justify-content: space-evenly;
  /* position: absolute;
  left: 10px;
  top: 50px; */
  /* background-color: rgba(35, 130, 255, 0.5); */
  /* padding: 10px 20px; */
  z-index: -1;
  box-sizing: border-box;
}
form > label {
  flex-basis: 30px;
  width: 100%;
  /* display: flex; */
  line-height: 30px;
  justify-content: center;
  margin-top: 15px;
}
form > label > input {
  flex-basis: 60%;
  margin-left: 20px;
}
label > input[type="checkbox"] {
  flex-basis: 5%;
}
input[type="submit"] {
  flex-basis: 20%;
  width: 100%;
  align-self: center;
  padding: 10px 20px;
  margin-top: 20px;
  border: 2px solid yellowgreen;
  background-color: rgb(237, 245, 220);
  color: yellowgreen;
  transition: 0.4s;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: orangered;
  border-color: darkblue;
  color: darkblue;
}
span {
  transition: 0.4s;

  margin: 10px;
  color: red;
  font-size: 10px;
}
.square {
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 95%;

  transition: 0.8s 1s;
  text-align: center;
  /* line-height: calc(100% - 10px); */
  border: solid 1px blac;
  font-size: 60px;
  z-index: -2;
}
.square.failure {
  opacity: 1;
  /* pointer-events: none; */
  background-color: rgba(255, 47, 47, 0.6);
  color: red;
  border: solid 1px red;
  z-index: 10;
  font-size: 30px;
}

.square.active {
  background-color: rgba(173, 255, 47, 0.3);
  opacity: 1;
  /* pointer-events: none; */
  color: green;
  border: solid 1px green;
  z-index: 10;
}
