* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
h1 {
  text-align: center;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainCircle {
  transform: rotate(90deg);
  color: white;
  background-color: black;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  overflow: hidden;
}
.contactIcon {
  text-align: center;
  width: 300px;
  height: 300px;
  color: black;
  font-size: 120px;
  line-height: 300px;
  background-color: #fff;
  border-radius: 50%;
}
.projects,
.contact,
.skills,
.about {
  position: absolute;
  width: 100%;
  text-align: center;
  transition: 0.4s;
  color: white;
}
.projects:hover,
.contact:hover,
.skills:hover,
.about:hover {
  /* height:100px;
 line-height: 100px;
  color:black;
  background-color: #fff; */
  cursor: pointer;
  color: orangered;
}
.projects {
  top: 15px;
}
.contact {
  bottom: 15px;
  transform: rotate(180deg);
}
.skills {
  transform: rotate(90deg);

  right: -175px;
}
.about {
  transform: rotate(-90deg);
  left: -175px;
}
.nav__item--active {
  color: yellowgreen;
}
