header {
  h1 {
    font-size: 43px;
    color: red;
    overflow: hidden;
    position: relative;
    &::before {
      position: absolute;
      width: 40px;
      height: 5px;
      color: black;
      top: 0;
      left: -200%;
      transition: all 0.4s;
    }
    &::before:hover {
      left: 0;
    }
  }
}
